# Introduction 

This notebook provides a replicate of my work as a research assistant at Trinity College. I'll replicate some of the data cleansing part here.

Paper: *Product Differentiation in the Automobiles Market: An Empirical Analysis* (Rasha Ahmed and Mark Stater) <br>
Research Assistant: My Phung

## Part 1: Load and cleanse data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
from sklearn.linear_model import LogisticRegression 

%matplotlib inline

In [2]:
data = pd.read_excel('car_data.xlsx')

In [70]:
data.shape

(7896, 58)

In [37]:
data.head(10)

,Year,Mft,Mtf#,Segment,Segment#,Make and Series,BODYno. of dr,BODY Style,body_typenum,Drive type,...,traction cont,Stability cont,4-Whl. ABS,AVG MPG,E85 Fuel comp,Retail P,Guzzler Tax,MPG CITY,MPG HWY,AVG_MPG
0,2005.0,Acura,1.0,LUX,4.0,NSX 3.0,2.0,coupe,4.0,RWD,...,S,--,S,20.15,NaN,89765,--,17,24,20.15
1,2005.0,Acura,1.0,LUX,4.0,NSX 3.2,2.0,coupe,4.0,RWD,...,S,--,S,20.15,NaN,89765,--,17,24,20.15
2,2005.0,Acura,1.0,LUX,4.0,3.5RL,4.0,sedan,1.0,AWD,...,--,S,S,21.60,NaN,49470,--,18,26,21.60
3,2005.0,Acura,1.0,LUX,4.0,RSX,2.0,coupe,4.0,FWD,...,--,--,S,30.15,NaN,20745,--,27,34,30.15
4,2005.0,Acura,1.0,LUX,4.0,RSX Type-S,2.0,coupe,4.0,FWD,...,--,--,S,27.15,NaN,24140,--,24,31,27.15
5,2005.0,Acura,1.0,LUX,4.0,3.2TL,4.0,sedan,1.0,FWD,...,--,S,S,24.50,NaN,33470,--,20,30,24.50
6,2005.0,Acura,1.0,MID,2.0,TSX,2.0,coupe,4.0,FWD,...,--,S,S,24.60,NaN,27060,--,21,29,24.60
7,2005.0,Audi,18.0,LUX,4.0,A4 1.8T,4.0,sedan,1.0,FWD,...,--,S,S,26.05,NaN,26520,--,22,31,26.05
8,2005.0,Audi,18.0,LUX,4.0,A4 1.8T Quattro,4.0,sedan,1.0,AWD,...,--,S,S,25.05,NaN,28870,--,21,30,25.05
9,2005.0,Audi,18.0,LUX,4.0,A4 1.8T Avant Quattro,4.0,wagon,3.0,AWD,...,--,S,S,24.60,NaN,29870,--,21,29,24.60

In [4]:
data.columns.tolist()

['Year ',
 'Mft',
 'Mtf#',
 'Segment',
 'Segment#',
 'Make and Series',
 'BODYno. of dr',
 'BODY Style',
 'Unnamed: 8',
 'Drive type',
 'Drive Type #',
 'Wheel base',
 'Trach(Front)',
 'Track (rear)',
 'Length',
 'Width',
 'Height',
 'Curb Weight',
 'Engine Type',
 'E. Type#',
 'Cylinder',
 'Cylinder #',
 'Unnamed: 22',
 'CID',
 'Size CC',
 'Liter',
 'Valves/ cyl',
 'Fuel Sys. Inj',
 'FS Inj #',
 'Fuel Sys. Intake',
 'Fuel Sys. Intake #',
 'mpg Fuel Type',
 'mpg Fuel Type #',
 'Unnamed: 33',
 'Unnamed: 34',
 'Bore& stroke ins',
 '...x...',
 'mm',
 '...x....1',
 'Comp.ratio',
 'HP',
 'RPM',
 'Torque(lb.ft)',
 'torque...',
 'torque(nm)',
 'Torque RPM',
 'Manual/Auto/Transmission Std',
 'Manual/Auto/Transmission ',
 'Transmission #',
 'Speed',
 'Opt.',
 'traction cont',
 'Stability cont',
 '4-Whl. ABS',
 'AVG MPG',
 'E85 Fuel comp',
 'Retail P',
 'Guzzler Tax',
 'Unnamed: 58',
 'MPG CITY',
 'MPG HWY',
 'Unnamed: 61']

In [6]:
#Check all the 'Unnamed' columns
unnamed_col = ['Unnamed: 8','Unnamed: 22','Unnamed: 33','Unnamed: 34','Unnamed: 58', 'Unnamed: 61']
data[unnamed_col]

      Unnamed: 8 Unnamed: 22 Unnamed: 33 Unnamed: 34  Unnamed: 58  Unnamed: 61
0            4.0         NaN         NaN         NaN          NaN        20.15
1            4.0         NaN         NaN         NaN          NaN        20.15
2            1.0         NaN         NaN         NaN          NaN        21.60
3            4.0         NaN         NaN         NaN          NaN        30.15
4            4.0         NaN         NaN         NaN          NaN        27.15
...          ...         ...         ...         ...          ...          ...
7891         1.0         NaN           G        None          NaN        23.05
7892         1.0         NaN           G        None          NaN        23.05
7893         1.0         NaN           G        None          NaN        21.15
7894         1.0         NaN           G        None          NaN        21.15
7895         1.0         NaN           G        None          NaN        21.15

[7896 rows x 6 columns]

When comparing these numbers with the original excel file, I figured column 8th represents the body types (as numerical - categorical data) and column 61st means average mile-per-gallon (calculated by taking the average of MPG Highway and MPG City).
Other columns have too many missing values so they will be skipped for this analysis.

In [10]:
data = data.rename(columns={'Unnamed: 8': 'body_typenum', 'Unnamed: 61': 'AVG_MPG'})
data = data.drop(columns= ['Unnamed: 22','Unnamed: 33','Unnamed: 34','Unnamed: 58'])

In [17]:
#Check data type
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7896 entries, 0 to 7895
Data columns (total 58 columns):
Year                            7894 non-null float64
Mft                             7894 non-null object
Mtf#                            7895 non-null float64
Segment                         7872 non-null object
Segment#                        7727 non-null float64
Make and Series                 7847 non-null object
BODYno. of dr                   6688 non-null float64
BODY Style                      6646 non-null object
body_typenum                    6633 non-null float64
Drive type                      6883 non-null object
Drive Type #                    6691 non-null float64
Wheel base                      6883 non-null object
Trach(Front)                    854 non-null object
Track (rear)                    853 non-null object
Length                          6881 non-null object
Width                           6881 non-null object
Height                          6875 non-null object
Curb Weight                     6632 non-null object
Engine Type                     6693 non-null object
E. Type#                        6685 non-null float64
Cylinder                        6656 non-null object
Cylinder #                      6656 non-null float64
CID                             5828 non-null object
Size CC                         6692 non-null object
Liter                           6684 non-null float64
Valves/ cyl                     6686 non-null object
Fuel Sys. Inj                   6680 non-null object
FS Inj #                        6684 non-null float64
Fuel Sys. Intake                6686 non-null object
Fuel Sys. Intake #              6683 non-null float64
mpg Fuel Type                   6697 non-null object
mpg Fuel Type #                 6697 non-null float64
Bore& stroke ins                5933 non-null object
...x...                         5771 non-null float64
mm                              6794 non-null object
...x....1                       6624 non-null object
Comp.ratio                      6793 non-null object
HP                              6823 non-null object
RPM                             6721 non-null float64
Torque(lb.ft)                   5947 non-null object
torque...                       539 non-null object
torque(nm)                      6852 non-null object
Torque RPM                      6718 non-null float64
Manual/Auto/Transmission Std    6878 non-null object
Manual/Auto/Transmission        6482 non-null object
Transmission #                  6295 non-null float64
Speed                           6482 non-null object
Opt.                            6865 non-null object
traction cont                   5092 non-null object
Stability cont                  6881 non-null object
4-Whl. ABS                      6881 non-null object
AVG MPG                         7626 non-null float64
E85 Fuel comp                   603 non-null object
Retail P                        6739 non-null object
Guzzler Tax                     6831 non-null object
MPG CITY                        6874 non-null object
MPG HWY                         6675 non-null object
AVG_MPG                         7661 non-null float64
dtypes: float64(18), object(40)
memory usage: 3.5+ MB

In [50]:
data['Guzzler Tax']

0       --
1       --
2       --
3       --
4       --
        ..
7891    --
7892    --
7893    --
7894    --
7895    --
Name: Guzzler Tax, Length: 7896, dtype: object

In [15]:
#Define a function to get the summary of all data.

def getDfSummary(input_data):
    output_data=input_data.describe() 
    output_data.loc['number_distinct'] = input_data.nunique() 
    output_data.loc['number_nan'] = input_data.isna().sum()
    output_data=output_data.T
    return output_data

getDfSummary(data)

,count,mean,std,min,25%,50%,75%,max,number_distinct,number_nan
Year,7894.0,2010.231948,2.848431,2005.0,2008.00,2011.00,2013.00,2014.00,10.0,2.0
Mtf#,7895.0,8.265104,6.464086,1.0,2.00,6.00,13.00,23.00,21.0,1.0
Segment#,7727.0,2.592856,1.259555,1.0,1.00,2.00,4.00,4.00,4.0,169.0
BODYno. of dr,6688.0,3.366776,0.930620,2.0,2.00,4.00,4.00,5.00,3.0,1208.0
body_typenum,6633.0,2.250415,1.540519,1.0,1.00,1.00,4.00,6.00,6.0,1263.0
Drive Type #,6691.0,2.114931,0.710020,1.0,2.00,2.00,3.00,3.00,3.0,1205.0
E. Type#,6685.0,1.263725,0.591943,1.0,1.00,1.00,1.00,6.00,6.0,1211.0
Cylinder #,6656.0,9.430739,4.991805,1.0,5.00,7.00,14.00,18.00,18.0,1240.0
Liter,6684.0,3.146933,1.311867,1.0,2.00,3.00,3.70,8.40,57.0,1212.0
FS Inj #,6684.0,5.725613,2.154957,1.0,3.00,7.00,7.00,8.00,8.0,1212.0
Fuel Sys. Intake #,6683.0,1.701781,1.406821,1.0,1.00,1.00,1.00,5.00,5.0,1213.0
mpg Fuel Type #,6697.0,5.005525,0.322586,1.0,5.00,5.00,5.00,7.00,7.0,1199.0
...x...,5771.0,3.458023,0.268899,2.4,3.27,3.46,3.65,4.17,85.0,2125.0
RPM,6721.0,5969.449487,751.742630,0.0,5600.00,6000.00,6400.00,8700.00,67.0,1175.0
Torque RPM,6718.0,3715.824948,1191.332958,0.0,2800.00,4000.00,4500.00,8000.00,79.0,1178.0
Transmission #,6295.0,1.937252,1.000017,1.0,1.00,1.00,3.00,5.00,5.0,1601.0
AVG MPG,7626.0,21.034753,9.949105,0.0,19.15,22.50,26.05,113.85,257.0,270.0
AVG_MPG,7661.0,21.080335,9.989058,0.0,19.15,22.50,26.05,113.85,255.0,235.0

The data contains both continuous and categorical data and has a lot of missing values. Some columns are not presented, which tells me that they either have alphabetical data or are supposed to have all numerical data but may contain improper data type (like 'N/A', 'NA', etc). I'll need to fix them.

Next, I will fill in the missing values with the mean value if the columns contain continuous values. If it's a categorical data, I will have to leave them out for now since we have a good amount of data.

In [58]:
#Define a function that would do a quick check of data types that might go wrong
#All alpha-type columns
alpha_cols = ['Mft', 'Segment','Make and Series','BODY Style','Drive type','Engine Type','Cylinder','Fuel Sys. Inj','mpg Fuel Type',
             'Manual/Auto/Transmission Std','Manual/Auto/Transmission ','Opt.','traction cont','Stability cont','4-Whl. ABS','E85 Fuel comp',
             'Guzzler Tax']


#Check columns that are not all numerical
def check_digit(data):
    colnames = data.columns.tolist()
    colnames = [i for i in colnames if i not in alpha_cols]
    num_cols = []
    non_num_cols = []
    for i in colnames:
        count_num = data[i].apply(lambda x: str(x).strip().isdigit()).nunique()
        if count_num == 1:
            num_cols.append(i)
        else:
            non_num_cols.append(i)    
    return num_cols, non_num_cols

In [69]:
#Fill in missing values with mean values
cols_needfix = check_digit(data)[1]
data[cols_needfix] = data[cols_needfix].fillna(data[cols_needfix].mean())

getDfSummary(data[cols_needfix])

                 count unique    top  freq number_distinct number_nan
Wheel base        6883    178  106.3   235             178       1013
Trach(Front)       854     74     63    68              74       7042
Track (rear)       853     82     62    61              82       7043
Length            6881    389     --   190             389       1015
Width             6881    142   71.7   229             142       1015
Height            6875    146   57.9   327             146       1021
Curb Weight       6632   1315     --   197            1315       1264
CID               5828    165    122   401             165       2068
Size CC           6692    235   1998   254             235       1204
Valves/ cyl       6686      6      4  5895               6       1210
Bore& stroke ins  5933     83    3.5   443              83       1963
mm                6794    103     86   429             103       1102
...x....1         6624    118     86   458             118       1272
Comp.ratio        6793     99     10   844              99       1103
HP                6823    304    300   209             304       1073
Torque(lb.ft)     5947    288    258   169             288       1949
torque...          539     68   4000   123              68       7357
torque(nm)        6852    333    350   179             333       1044
Speed             6482      9      6  3048               9       1414
Retail P          6739   4420     --   386            4420       1157
MPG CITY          6874     73     18   779              73       1022
MPG HWY           6675     61     25   661              61       1221

Fillna does not solve the problem in this case since the missing values are not just missing, they may contain non-digit data. To check this, I need to check all the unique values in each column.

In [73]:
for i in cols_needfix:
    print(data[i].unique())

[99.6 110.2 101.2 107.9 105.1 104.3 104.5 111.9 115.9 121.1 95.4 95.6
 107.3 113.7 109.4 117.7 123.2 107.5 98.2 109 110.5 112.2 113.8 113.4
 115.3 116.4 105.7 97.6 104.1 103.3 106 106.3 112.3 120 94.5 103 108 103.7
 105 98.8 114.7 112.9 106.7 107.1 108.5 107.2 103.1 96.1 102.7 108.3 113
 114.5 119.4 101.9 94.9 102.8 115.2 133.5 150.7 103.9 105.3 89.2 106.4
 106.9 113.6 112.4 121.5 100.8 95.7 144.6 97.1 102.4 111.2 99.8 109.8 95.1
 92.5 99.4 103.2 103.5 106.5 93.3 98.4 100 111 96.5 98.7 98.9 101.5 118.1
 107 109.9 101.4 nan 108.7 115.5 115.6 114.6 107.4 '--' 114.2 124.4 123.7
 91.7 116.7 112.1 122.7 132.5 120.7 108.1 98.3 126 108.9 116.9 121.7 124.6
 109.3 92.7 140.6 150.4 96.9 100.4 111.6 97.2 116 102.9 100.2 116.3 100.3
 114.8 130.7 73.5 110.8 110.6 104.7 120.9 126.4 89.3 109.5 111.7 123.6
 108.6 113.1 114.9 129.7 110.63 117.8 122.9 128.6 107.8 118.5 120.2 98
 95.9 119.9 110 113.5 113.2 105.5 115 104.4 120.5 90.6 112 102.6 136.4
 78.7 99.9 110.4 109.63 93.5 102.2 97.4 105.9 106.1 111.4 '-- ' 101.8
 122.5]
[nan 59.4 '--' 59.5 64.3 63.2 62.2 61.6 62.6 64.1 64.7 64.5 61.1 62.5 62.4
 63.6 61.5 61.2 65.6 59.9 60.3 60.7 59.1 60.5 60.8 63 63.4 62.8 63.8 64.2
 61.7 62 61.4 61.8 62.1 62.3 63.7 66.1 55.7 62.9 55.4 57 57.7 62.7 61.9
 65.3 59 59.2 59.6 58.7 58.1 58.3 59.3 61 63.9 63.1 61.3 60.4 64 59.8 60
 64.9 58.12 60.9 '-- ' 66.2 60.2 56.3 60.1 65.2 64.8 60.6 66.4 50.5 58.5]
[nan 60.3 '--' 60.7 64.2 63.8 62.2 61.1 62.1 63.7 64.4 62.8 60.6 62 62.3
 63.2 60.9 60.8 65.5 65 61.3 61.9 62.4 60.2 62.6 64.1 65.1 65.6 65.2 65.8
 63.5 61.4 60.5 62.5 63 61.7 63.4 64.7 64 61.5 59.4 55.5 62.7 63.1 61.6 61
 55 55.4 60.4 57 62.9 59.9 59.1 58.1 57.4 58 59.5 63.3 63.6 61.8 63.12 59
 64.3 60 59.8 59.6 57.7 58.9 '-- ' 64.5 55.7 58.3 58.5 65.4 64.8 64.9 61.2
 66 66.6 65.7 54.5 57.9 59.7]
[174.2 193.6 172.4 189.3 183.3 179 180 193.5 198.9 204 204.4 159.1 176.7
 176 176.3 190.6 190.2 198 203.5 176.9 161.1 194.6 198.1 200 206.8 190.1
 191.5 207 196.3 177.7 166.7 152.8 182.7 180.3 180.5 175 188.3 187.8 197.9
 196.8 159.8 168.8 190.7 193.7 191.9 174.4 190.9 191.2 175.6 212 200.7
 168.5 175.2 178.4 182.8 187.6 188 197.6 197.7 186.3 189.5 175.4 165.7
 155.1 162.2 178.1 177.9 186.9 173 182.2 186.5 200.8 193 200.4 205.3 183.8
 185.5 196 185.8 166.9 176.4 170.9 191.1 189.2 176.6 177 197.4 177.8 194.3
 216.2 225.5 242.7 178.3 178.7 186.8 187.4 155.3 174.3 181.8 196.4 196.6
 182.6 189.7 190.3 203.1 178.5 160.7 160.9 211.9 200.9 199.8 197.8 143.1
 143.9 176.8 109.4 169.4 192.3 195.5 177.5 202.6 189 198.3 189.8 182 171.9
 170.4 181.6 175.63 175.8 173.8 182.5 182.4 185 184.5 190.4 174 154.1
 186.2 188.7 171.3 166.5 177.2 179.7 169.1 197.2 192.5 170.5 164.6 153
 164.9 172.3 173.6 179.3 203.7 185.2 184.3 175.9 180.2 185.4 181.3 168.7
 180.6 194.2 nan 199.3 178.2 198.4 203.9 161.9 207.6 174.6 196.7 168.9
 200.1 '--' 174.8 192.7 188.9 192.6 193.1 183.9 185.7 158.1 190 180.1
 194.4 215.4 221.4 190.5 181.5 157.3 183.2 193.3 194 191.8 198.5 203.3
 191.4 169.8 157.2 172.1 188.2 180.4 180.7 212.2 222.1 212.6 208.9 189.1
 203.2 169.7 152.7 202.8 157.4 159.3 177.4 187 188.6 196.9 186.4 177.6
 199.4 191 205 211.1 145.6 146.2 179.8 171.6 229.7 239.5 162.8 150 169.3
 173.5 165.8 181.2 181 182.1 174.5 164.5 193.8 201.8 194.1 183.1 182.3
 200.2 202.1 155 196.1 220.8 167.3 154.7 106.1 167.2 167.4 176.2 178 189.9
 195.8 195.3 186.1 169 213.1 208.2 172.2 178.8 191.6 154.3 175.5 177.3
 161.6 195.9 183.5 204.1 225.3 242.5 161.5 155.8 156.7 157.5 171.1 150.6
 179.4 195.7 185.6 165.3 178.6 197 191.3 215.6 218 188.1 202.9 201.7 206.6
 158.5 191.7 184.8 199.2 180.9 206.5 195.6 165.4 202.2 207.4 208.3 219.5
 181.9 188.5 204.2 177.1 198.6 199.9 160.1 194.9 160.6 187.9 183.7 184
 194.7 170.1 155.5 186 200.6 201 206.7 180.8 146.6 155.9 146.8 173.4 182.9
 181.7 192.8 205.7 192 173.1 159 200.3 139.6 171.7 162 185.3 194.5 163.2
 144.8 176.1 219.2 120.1 153.5 168.4 174.1 165.9 179.1 193.9 202 144.7
 194.8 175.7 144.4 172 166.1 185.1 201.9 205.6 192.4 193.4 187.2 195.2 183
 197.3 200.5 206 201.3 159.7 192.2 179.5 163 171.2 173.7 192.1 148.8 203.4
 178.9 219.3 220.9 230 207.9]
[71.3 72.7 67.9 72.2 69.4 76.3 75 79.2 74.6 79.8 75.2 73.1 76.7 68.5 73
 74.8 70.1 73.5 74.7 70.6 74.4 72.6 72.3 65.7 65.8 68.7 69.9 69.8 74.1
 69.5 67.1 67.4 70.3 78.2 73.7 66.7 76.9 73.9 72 71.5 67.5 68.9 67.7 71.7
 69.3 71.9 69 81.1 83 81.7 78.8 72.8 66.1 68.3 70.9 73.2 78 69.1 69.7 68
 70.4 75.1 74.5 66.5 72.4 66.8 67.3 74.2 73.8 72.5 68.4 75.6 71.18 72.1
 68.1 70.5 67.2 70.7 66.9 65.4 74.9 71 77.1 nan 69.2 74 75.9 72.9 78.3
 71.6 '--' 70.8 78.5 78.4 71.4 70 75.4 70.2 71.2 68.8 66.2 81.5 71.1 83.3
 66.3 76.6 73.3 77.4 77 76 71.8 75.7 67.8 69.6 61.4 76.06 81.8 83.4 80.8
 80 79.5 75.5 76.2 73.4 83.1 73.6 84.2 79.9 76.5 81.4 80.2 83.2 77.8 64.1
 62.4 62.9 76.4 78.1 79.4 79 75.8 82.6 65.6]
[46.1 57.1 54.9 56.7 57.3 56.2 54.8 57.5 57.4 56.9 53 53.9 54 55.7 55.5
 56.5 56.3 58 54.1 58.7 51.1 56.6 57 57.6 50.4 58.9 54.7 49 58.1 55.2 58.4
 51.5 51.8 60.6 55 56 54.4 47.6 58.3 60.1 44.3 55.4 56.1 57.8 52.1 55.1
 53.3 50 52.3 55.9 57.7 50.5 51 50.3 50.7 58.5 57.9 53.1 59 61.9 48.3 52.8
 55.6 57.2 49.6 61.5 51.6 53.7 51.9 62.2 45.9 51.57 56.8 56.4 55.8 60.2
 64.6 61.6 59.1 60.8 61 51.4 59.4 48.8 58.2 nan 51.3 48.6 '--' 53.5 52.4
 59.5 60 64.2 50.1 51.2 63.2 59.7 49.9 58.8 60.4 54.5 52 49.4 59.3 52.5
 50.9 64.3 49.8 49.3 54.2 59.2 58.6 55.3 53.8 50.6 64.7 60.7 54.3 50.8
 59.8 62 62.8 61.4 62.7 48.7 63.4 52.2 63.9 54.6 59.9 59.6 53.2 65 48 63.6
 48.5 61.8 49.1 63.8 49.7 65.7 63 60.5 62.9 61.7 64.5]
[3153 3197 3984 ... 2845 3115 3851]
[181 194 212 122.1 196 143.6 109 182 254 255 366 195 152 268 364 198 191
 231 217 170 346 279 278 97.5 134 122 204 213 167 214.7 345 195.2 148.2
 148 143.4 181.4 121.8 143 505 281 121 138 330 245 240 144 183 102 82 61
 132 97.6 162 120.5 214 274 256 221 163 97 202 262 336 137.9 181.1 112.2
 80 109.6 158.5 159 331.9 303 336.4 364.9 196.6 260 332 213.5 145 234
 152.5575 109.84140000000001 110 164 350 219 220 150 140 91 211 146 nan
 116 170.4 151 252 120 169 149 154 142 147 178 293 267 427 325 238 370 215
 139 270 210 365 227 0 207 233 318 413 305 428 98 379 333 237 412 269 376
 510 225 '--' 111 179 224 223 195.1 244 230 282 232 177 182.8 '98' 380 402
 222 145.4 83.2 85.3 392 302 284 307 339 79.8 285 '`' 84 81 153 76 512 355
 165]
[2977 3179 3471 1998 3210 2354 1781 2976 4163 4172 5998 3195 2494 2979
 4398 5972 3246 3136 3791 3564 2792 5665 4565 1598 2189 5967 3343 3500
 3342 2736 3518 5654 3199 2429 2351 2972 1995 8277 4606 2967 1999 2261
 5409 4009 2983 3934 2997 1668 1339 995 2156 1595 1975 2656 3467 3498 4494
 4196 2495 1594 3311 4293 5513 2260 1839 1308 1796 2597 5439 4966 5980
 3222 4266 2350 2378 3828 1997 2488 1769 3800 3350 5970 1794 2687 5733
 3596 3600 2457 1994 1988 2290 2962 2362 1497 2999 2295 2492 3456 2995
 1984 1896 2480 1968 2771 2435 2521 2319 2401 2922 3123 nan 2996 4799 4371
 2384 7011 3490 3880 5328 6059 1799 3778 1599 2499 2496 3495 3724 2374
 3493 3387 3824 2196 3597 5204 6761 4999 7007 2360 1798 2359 4609 3496
 5461 6208 2987 3510 6749 1496 3189 3192 4414 3197 '`' 2198 2393 6162 8382
 3341 3696 '--' 4969 5511 6205 999 2953 3664 2993 4395 3999 5327 7008 2157
 4627 3726 2489 3799 1597 2893 3436 3614 3248 8204 2994 5000 1591 2357
 4806 6592 3630 6750 1364 1398 3605 3604 6424 1596 3727 4951 1797 5038
 5552 4993 4608 3497 1498 4663 3797 1981 3362 3649 1368 4805 3527 3993
 3661 1329 3000 3991 2799 1249 5812 2356 3720 2706 2498 1484 6299 1956
 1499 1993 1991 2143 1193 3346 1395 2497]
[4 5 2 3 6 nan ' ']
[3.54 3.66 3.5 3.39 3.18 3.25 3.33 3.31 3.62 3.43 3.51 3.8 3.7 3.44 3.9
 3.11 3.38 4 3.78 3.92 3.41 3.59 4.03 3.55 3.95 2.95 2.87 nan 3.01 3.22
 3.76 3.21 3.07 3.23 3.58 3.6 3.27 -1 3.82 3.46 3.03 3.74 3.35 3.15 3.37
 3.86 3.94 3.48 3.1 3.13 3.19 3.28 4.13 4.06 3.4 '--' 3.81 3.2 0 4.02
 '3.90X3.31' 3.3 4.95 3.99 3.16 3.17 2.83 4.125 3.64 3.47 3.65 3.42 2.85
 2.89 4.09 3.63 3.34 4.04 3.29 4.1 2.77 3.45 3.68 '3.70X3.74']
[90 93 89 86 87 81 82.5 84.5 84 84.1 88.9 92 96.52 94 96.5 87.5 99 79
 101.6 96 99.5 89.9 87.4 86.5 91.1 102.4 90.2 100.4 86.1 75 73 nan 76.5 82
 85.5 86.7 95.5 81.5 78 90.9 91 91.4 83 -1 97 82.6 88 92.9 77 95 85 80 98
 100 88.5 74.9 89.2 88.4 91.9 78.7 79.5 90.1 83.3 104.8 103 '--' 83.1 96.8
 '82.6.' '91.0X93.2' 104 92.5 102.2 '99.0X84.0' 103.3 101.3 80.5 72 103.2
 87.3 88.7 103.25 102 96.9 92.6 '87.0X100.0' 72.5 73.4 103.9 92.2
 '88.9X96.5' 102.6 102.1 '\\' 83.5 100.1 72.4 83.8 85.1 70.5 87.6 93.5
 '94X90' 74.5]
[78 93 86 99 86.4 92.8 90.2 95.9 75 89.6 80 82.7 91 84 86.36 85.6 88 85 92
 81.5 94.6 78.5 81 90.9 101 100 76 83 100.6 89.9 78.7 83.1 94 105.8 84.4
 90 85.1 94.4 nan 90.7 87 93.5 85.8 81.4 79.5 90.3 83.4 86.1 82.6 82.5
 91.4 68.2 84.1 88.3 95.8 91.5 82.8 76.4 79 96 89.2 91.7 84.7 92.7 95.5
 90.4 93.2 98 101.6 87.3 83.8 77 68.4 82.1 74.8 96.4 75.2 97 77.4 89.4
 86.7 90.5 90.1 84.6 88.7 89.5 81.1 88.2 88.4 81.8 89 83.3 93.6 94.5 77.5
 96.5 92.5 80.2 100.1 85.4 82.2 80.3 87.2 73.3 78.4 60.4 '89 .0' 91.2 80.5
 88.9 81.3 99.1 72.5 76.1 96.7 83.9 83.6 69 92.3]
[10.2 11 9.8 10.5 9.3 10.1 12.5 9.5 9 11.3 11.5 9.6 9.4 8.5 10 '9.5.0'
 10.9 9.7 9.91 8.1 9.9 9.38 8.4 10.75 10.8 10.3 9.1 8.7 18 10.7 8.8 10.6
 8.3 12 11.8 8 8.2 13 19 18.5 nan 10.4 '--' 11.2 11.1 7.8 8.6 16.5 9.86
 9.2 10.85 11.7 11.4 '10.4;1' 12.2 12.3 12.7 15.5 12.6 '10.6:1' '11.0:1'
 '10.8:1' '11.2:1' '9.6:1' '16.5:1' '10.3:1' '10.1:1' '11.8:1' '12.5:1'
 '9.3:1' '9.8:1' '9.0:1' '7.8:1' '10.7:1' '10.2:1' '10.0:1' '12.0:1'
 '11.5:1' '11.3:1' '9.2:1' '9.5:1' '11.7:1' '9.1:1' '10.4:1' '10.5:1'
 '10.9:1' '12.3:1' '9.7:1' '11.1:1' '12.7:1' '13.0:1' '15.5:1' '12.6:1'
 '9.9:1' '8.4:1' '8.2:1' '11.4:1' 16.8 16.3 16.2]
[252 290 300 160 210 270 200 170 220 255 335 450 340 180 225 250 184 325
 438 333 175 240 205 400 275 320 103 140 145 144 190 215 330 150 142 198
 132 230 147 500 224 203 136 151 550 153 201 280 117 115 127 85 67 65 104
 138 172 194 298 235 294 390 192 227 232 239 543 148 178 238 197 189 168
 362 302 493 604 221 469 268 355 617 120 162 276 287 260 265 126 165 130
 123 605 444 185 182 108 155 157 76 100 420 134 218 257 208 258 nan 360
 '438' 291 '275' 171 '205' 505 211 242 303 425 166 244 253 16 110 263 245
 204 306 278 288 612 274 212 228 241 '287' '300' 167 177 '240' '280' 295
 173 154 '190' '210' 164 118 '115' 350 435 552 292 443 233 217 158 113 109
 237 293 264 272 380 156 163 382 510 475 169 415 480 453 243 143 106 311
 286 354 304 430 436 186 285 '250' '340' 600 315 319 540 234 342 '--' 389
 518 507 152 122 219 222 261 530 161 128 70 305 281 414 638 376 368 271
 141 375 249 328 416 273 332 256 361 402 310 345 385 525 621 595 556 426
 207 372 365 98 470 357 640 451 485 107 563 179 567 630 512 312 63 149 283
 363 370 40 412 20 13 429 348 620 536 121 181 570 80 560 631 15 318 323
 135 84 101 23 481 408 94 111 520 616 445 202 321 580 301 259 47 662 343
 495 386 545 73 60 2210 521 535 410 455 460 196 344 248 195 74 440 624]
[210 224 260 141 143 238 166 221 243 310 317 428 302 173 207 236 175 214
 330 444 262 195 230 225 280 252 395 300 285 315 107 150 155 200 400 220
 205 190 250 390 229 165 245 160 130 158 525 272 133 154 500 240 320 186
 286 161 212 232 111 110 114 132 87 66 65 162 106 136 147 181 216 270 333
 303 399 178 206 104 325 218 287 664 135 192 125 159 164 177 376 339 516
 590 738 369 295 258 575 275 157 274 180 249 255 129 118 127 199 435 273
 457 217 228 145 163 105 219 152 131 82 122 170 406 247 256 139 140 233 0
 208 nan 185 215 360 292 439 '200' 470 242 323 420 211 '100' 128 123 '66'
 '65' 226 340 413 277 312 148 '274' '260' 251 '199' '236' '273' 235 101
 248 '160' '197' '220' 115 '122' 265 398 645 479 383 227 288 414 191 '190'
 156 480 109 257 268 336 182 254 319 267 367 197 391 612 465 531 172 201
 460 505 290 169 241 138 103 '325' 253 373 167 424 '250' '390' 560 510
 '--' 385 146 501 68 271 774 553 425 450 237 550 604 389 137 264 168 269
 184 371 434 261 365 244 259 223 551 410 297 350 266 380 461 144 344 739
 443 568 171 328 752 332 278 384 394 112 76 58 263 151 187 276 417 98 153
 79 78 291 502 121 354 517 455 416 448 89 314 481 487 556 83 600 117 631
 120 347 279 463 174]
[5300 5500 5000 4000 7000 4500 1950 3200 3250 3500 '1950-4700' '2200-5500'
 '2800-3200' 3600 3950 4900 2000 4800 4400 3800 3000 4200 4850 4600
 '2200-4400' 4250 3750 3300 6500 4100 4700 3400 '2300-3000' '3500-4000'
 '3000-4600' '2700-4250' '2750-4000' '1800-3500' '2000-4000' '1800-2600'
 '3000-4800' '2650-4500' '3000-4400' '2750-4500' '2400-5000' '3250-5000'
 4550 2400 '4700-6000' 5750 '3500-4500' 2550 2500 '1800-4000' '1900-4000'
 6800 2600 '1800-2400' '2200-4200' '1950-5000' '3250-4250' 1900
 '1500-4800' '1500-5000' '2100-5000' '1800-5000' '1950-5250' '1850-5250'
 nan]
[495 304 353 191 194 323 225 300 330 420 430 580 410 235 281 320 237 290
 447 602 355 264 312 305 380 342 533 407 386 459 145 203 210 230 542 271
 298 278 258 340 525 310 220 285 332 218 177 339 214 712 369 179 202 678
 325 434 252 388 287 315 150 149 155 118 89 88 144 183 199 245 293 366 352
 451 411 541 241 279 141 184 441 296 389 900 260 169 166 216 222 240 510
 460 700 800 1001 500 400 350 780 373 213 176 372 244 338 346 175 406 546
 170 161 270 590 370 620 229 197 221 143 294 297 208 178 172 142 160 111
 165 265 228 550 335 280 349 189 192 319 223 282 nan 251 488 263 396 427
 595 637 328 438 569 286 '136' 174 188 167 '89' '88' 306 461 560 376 423
 276 1000 201 269 '372' 341 '270' '320' '370' '400' 137 206 336 '217'
 '267' '298' 156 360 540 875 650 308 536 390 561 224 259 '258' 209 212 651
 148 363 456 247 344 371 433 362 498 267 530 830 630 720 233 273 624 685
 272 393 327 292 219 187 140 '440' 343 226 575 217 359 '525' 760 0 '--'
 522 198 681 215 92 368 1050 750 610 520 321 745 819 527 691 358 365 249
 503 588 331 173 746 351 302 747 556 403 475 515 625 195 154 186 422 1002
 600 151 770 429 190 445 1020 450 377 168 200 534 152 103 79 316 357 250
 205 253 374 565 133 648 207 440 699 107 521 246 309 106 395 480 311 601
 701 617 564 180 607 121 139 660 232 754 113 814 159 856 163 623 470 378
 628 361 236 680 729 583 563 274 243 397 129 100 289 439 171 266]
[4 6 5 nan 7 8 '-' 'None' '5/A8' 1]
[89765 49470 20745 ... 45015 46365 49065]
[17 18 27 24 20 21 22 '18' 15 19 16 25 34 23 12 26 13 30 36 32 46 48 61 57
 29 11 28 14 31 10 35 60 38 58 '24' '13' '--' 50 '23' nan 37 49 33 40 9 42
 '22' '19' '21' '17' '12' '16' '14' '15' '20' ' ' 41 51 90 43 92 44 126
 '106' 39 '98e' '25' '52e' 47 53 '95e' '82e' '108e' 45]
[24 26 34 31 30 29 28 27 25 23 21 35 33 32 20 37 44 38 51 47 68 56 17 16
 22 19 18 36 41 42 46 43 '32' '21' nan 50 66 '31' 39 40 15 '33' '26' 45
 '28' '30' '25' '19' '20' '23' '22' 48 95 '24' '17' 106 107 '34' 99 '92'
 '27' '92e']

Convert all non-digit values to null values.

In [98]:

def convert_digit(digit_data):
    colnames = digit_data.columns.tolist()
    for i in colnames:
        digit_data[i] = digit_data[i].apply(lambda x: None if str(x).isalpha() == True else x)
    return digit_data

In [99]:
#data_digit = data[cols_needfix].astype(float)
data_digitclean = convert_digit(data[cols_needfix])
getDfSummary(data_digitclean)

C:\Users\emmyp\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

                 count unique    top  freq number_distinct number_nan
Wheel base        6883    178  106.3   235             178       1013
Trach(Front)       854     74     63    68              74       7042
Track (rear)       853     82     62    61              82       7043
Length            6881    389     --   190             389       1015
Width             6881    142   71.7   229             142       1015
Height            6875    146   57.9   327             146       1021
Curb Weight       6632   1315     --   197            1315       1264
CID               5828    165    122   401             165       2068
Size CC           6692    235   1998   254             235       1204
Valves/ cyl       6686      6      4  5895               6       1210
Bore& stroke ins  5933     83    3.5   443              83       1963
mm                6794    103     86   429             103       1102
...x....1         6624    118     86   458             118       1272
Comp.ratio        6793     99     10   844              99       1103
HP                6823    304    300   209             304       1073
Torque(lb.ft)     5947    288    258   169             288       1949
torque...          539     68   4000   123              68       7357
torque(nm)        6852    333    350   179             333       1044
Speed             6476      8      6  3048               8       1420
Retail P          6739   4420     --   386            4420       1157
MPG CITY          6874     73     18   779              73       1022
MPG HWY           6675     61     25   661              61       1221

In [101]:
data_digitclean = data_digitclean.fillna(data_digitclean.mean())
getDfSummary(data_digitclean)

                 count unique    top  freq number_distinct number_nan
Wheel base        6883    178  106.3   235             178       1013
Trach(Front)       854     74     63    68              74       7042
Track (rear)       853     82     62    61              82       7043
Length            6881    389     --   190             389       1015
Width             6881    142   71.7   229             142       1015
Height            6875    146   57.9   327             146       1021
Curb Weight       6632   1315     --   197            1315       1264
CID               5828    165    122   401             165       2068
Size CC           6692    235   1998   254             235       1204
Valves/ cyl       6686      6      4  5895               6       1210
Bore& stroke ins  5933     83    3.5   443              83       1963
mm                6794    103     86   429             103       1102
...x....1         6624    118     86   458             118       1272
Comp.ratio        6793     99     10   844              99       1103
HP                6823    304    300   209             304       1073
Torque(lb.ft)     5947    288    258   169             288       1949
torque...          539     68   4000   123              68       7357
torque(nm)        6852    333    350   179             333       1044
Speed             6476      8      6  3048               8       1420
Retail P          6739   4420     --   386            4420       1157
MPG CITY          6874     73     18   779              73       1022
MPG HWY           6675     61     25   661              61       1221